.header-main{
    background-image: url(../../../images/header/background-header.jpg);
    background-repeat: no-repeat;
    height: 500px;
    max-width: 1920px;
    height: 998px;
    .header__nav{
        padding: 22px;
        padding-top: 70px;
        display: flex;
        justify-content: space-between;
        .header__left-menu > img{
            cursor: pointer;
        }
        .header__right-menu{
            display: flex;
        }
    }
    .header-slogan{
        margin-top: 170px;
        z-index: 1;
        a{
            text-decoration: none;
        }
    }
    .header-slogan >h1{
        color: white;
        font-family: 'PP Neue World';
        transform: scaleX(0.6);
        font-style: normal;
        font-weight: 400;
        font-size: 140px;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        letter-spacing: -0.02em;
        word-spacing: 20px;
    }
    .header-slogan button{
        color: black;
        font-size: 18px;
        font-weight: 400;
        background: #EBE6D7;
        width: 178px;
        height: 44px;
        display: block;
        margin: 10px auto;
        border: none;
        border-radius: 4px;
        padding: 10px;
    }
    .central-menu{
        >h1{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 800;
            font-size: 36px;
            line-height: 90%;
            color: white;
        }
    }
}

