.modal {
    height:100vh;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.400);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    /* transition: 2s; */
}
.active {
    transform: scale(1);
}
.modal__content {
    padding: 20px;
    /* border-radius: 12px; */
    background-color: #EBE6D7;
    /* height: 200px; */
    width: 600px;
    text-align: center;
}
.close__modal__x{
    margin-left: 95%;
    width: min-content;
}
.red__mistake{
    color: red;
    margin-top: 0px;
}
.login__footer{
    display: flex;
    width: 448px;
    margin: 0px auto;
    justify-content: space-between;
}
.login__footer__checkbox{
    input{
        display:inline-block;
        width:18px;
        height:18px;
        vertical-align:middle;
        margin-right: 5px;
        cursor:pointer;
    }
    color: #1F1F1F;
    font-weight: 400;
    font-size: 18px;
}
.login__footer__forgot{
    font-weight: 400;
    font-size: 18px;
    color: #004AA5;
    cursor:pointer;
}
.login__registration{
    color: #004AA5;
    margin-left: 10px;
    cursor:pointer;
}