.modal-menu {
    height:100vh;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.700);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    transform: scale(0);
    justify-content: center;
    /* transition: 2s; */
    a{
        text-decoration: none;
        color: black;
    }
}
.active-menu {
    z-index: 100;
    transform: scale(1);
}
.modal-menu__content{
    margin-top: 76px;
    margin-left: -1%;
    background-color: #EBE6D7;
    width: 100%;
    max-width: 1920px;
    height: 611px;
    display: flex;   
}
.modal-menu__left-block{
    flex-grow: 4;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.modal-menu__content__menu h1{
    margin-bottom: 50px;
    font-size: 52px;
}
.modal-menu__content__menu p{
    font-size: 17px;
    margin-top: 10px;
    font-weight: 400;
}
.modal-menu__picture-block{
    padding-left: 54px;
    text-align: left;
    color: #FFFFFF;
    flex-grow: 3;
    background-image: url('../../../images/header/modal-menu.png');
}
.modal-menu__picture-block p{
    margin-top: 489px;
}