
.one-order{
    border-bottom: 1px solid #D1C7A3;
    padding: 10px;
    margin: 5px;
    .one-order__header{
        p{
            font-size: 18px;
            color: black;
        }
        padding-bottom: 10px;
    }
    .one-order__images{
        display: flex;
        flex-wrap: wrap;
    }
}
