.our-partners {
    margin-bottom: 120px;

    >h1 {
        margin-top: 120px;
        font-family: 'PP Neue World';
        font-style: normal;
        font-weight: 400;
        font-size: 120px;
        line-height: 87%;
        text-align: center;
        color: #1F1F1F;
        transform: scaleX(0.6);
        letter-spacing: -0.02em;
        word-spacing: 20px;
    }

    >p {
        margin-top: 40px;
        margin-bottom: 60px;
        text-align: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 90%;
        color: #1F1F1F;
    }

    .our-partners__partners-block {
        display: flex;

        .our-partners__one-block {
            flex-grow: 1;
            border: 1px solid #D1C7A3;
            padding: 20px;

            >h2 {
                margin-top: 20px;
                font-family: 'PP Neue World';
                font-style: normal;
                font-weight: 400;
                font-size: 52px;
                line-height: 100%;
            }

            >p {
                margin-top: 40px;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 135%;
            }

            button {
                margin-top: 20px;
                border: none;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 90%;
                background-color: #EBE6D7;
                cursor: pointer;
            }
        }
    }

    @media (max-width: 1850px) {
        .our-partners__partners-block {
            flex-wrap: wrap;
        }

        .our-partners__one-block {
            width: 630px;
            border: 1px solid black;
        }
    }
}