.main-katalog {
    width: 80%;
    background-color: #EBE6D7;

    .main-katalog__count-products {
        border-bottom: 1px solid #D1C7A3;
        padding: 20px;

        >h3 {
            font-size: 17px;
            font-weight: 600;
        }
    }
}

.main-katalog__one-product {
    border: 2px solid #D1C7A3;
    padding: 15px;
    width: fit-content;
}

.main-katalog__about {
    display: flex;
    justify-content: space-between;
}

.main-katalog button {
    padding: 10px 15px;
}