.aside-nav{
    padding: 10px;
    padding-top: 100px;
    width: 480px;
}
.aside-nav h3{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin: 5px;
}
.aside-nav p{
    margin: 5px;
}