.delivery{
    .delivery__main-block{
        display: flex;
        .delivery__input-block{
            margin-right: 20px;
        }
    }
    .delivery__label-checkbox{
        font-size: 18px;
        color: black;
    }
    .delivery__label-p{
        font-size: 18px;
        font-weight: 300;
        color: black;
    }
    button{
        margin-top: 10px;
        padding: 20px;
        font-size: 18px;
        color: #EFEAE7;
        border-radius: 4px;
        background-color: #645832;
    }
    .form-field__input{
        margin: 0px;
    }
    .delivery__textarea{
        font-size: 18px;
        color: black;
    }
}