.not-found-page{
    margin-top: 76px;
    background-color: #EBE6D7;
    padding-top: 120px;
    >h1{
        font-family: 'PP Neue World';
        font-style: normal;
        font-weight: 400;
        font-size: 90px;
        line-height: 87%;
        word-spacing: 20px;
        text-align: center;
    }
    padding-bottom: 120px;
}