.katalog-home-page{
    position: relative;
    min-height: 100vh;
}
.katalog-home-page__main-aside{
    display: flex;
}
.under-header{
    margin-top: 76px;
    border-bottom: 1px solid #D1C7A3;
}
.under-header h1{
    text-align: center;
    font-size: 140px;
    font-weight: 400;
}