.main-katalog__pagination {
    margin: 5px auto 5px 50px;
    padding: 20px 0px;

    >button {
        border: 1px solid #D1C7A3;
        font-size: 18px;
        font-weight: 400;
        border-radius: 4px;
        margin-right: 10px;
        cursor: pointer;
    }
}

.main-katalog__all-products {
    a {
        text-decoration: none;
        color: black;
        font-size: 17px;
        font-weight: 400;

        .main-katalog__all-products {
            color: #645832;
        }
    }

    display: flex;
    flex-wrap: wrap;
}