.change-password-second-page{
    .change-password-second-page__btn{
        padding: 20px;
        background-color: #645832;
        font-size: 18px;
        color: white;
        border-radius: 4px;
        margin-top: 20px;
        width: 400px;
    }
    .change-password-second-page__btn:disabled{
        padding: 20px;
        background-color: #c7bb94;
        font-size: 18px;
        color: rgb(228, 224, 190);
        border-radius: 4px;
        margin-top: 20px;
        width: 448px;
    }

}