.change-password{
    padding: 20px;
    .change-password__input{
        width: fit-content;
        position: relative;
    }
    .change-password__watch{
        position: absolute;
        left: 150px;
    }
}