.main-container{
    background-color: #EBE6D7;
    height: 1256px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main-container__info{
    width: 1000px;
    height: 429px;
    >h1{
        font-family: 'PP Neue World';
        font-style: normal;
        font-weight: 400;
        transform: scaleX(0.6);
        letter-spacing: -0.02em;
        word-spacing: 20px;
        font-size: 120px;
        line-height: 87%;
    }
}


.main-container__info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 135%;
    text-align: center;
}